.home {
    width: 100%;
}


.featured {
    width: 100%;
}


.panel-window {

    background: #f7f0e3;

    border: 1px solid #bda982;

    box-shadow:
        inset 0 0 25px rgba(80, 60, 30, .08),
        0 10px 25px rgba(0, 0, 0, .12);

}



.panel-topbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 18px;

    background:
        linear-gradient(#faf4e8, #dfd1ba);

    border-bottom: 1px solid #bda982;

}



.panel-controls {

    display: flex;
    gap: 7px;

}


.panel-controls span {

    width: 11px;
    height: 11px;

    border-radius: 50%;

    background: #82966d;

}



.panel-topbar small {

    font-size: .7rem;
    letter-spacing: .3em;

}



.featured-body {

    display: flex;

    gap: 45px;

    padding: 45px;

    align-items: flex-start;

}



/* POSTER */


.poster-frame {

    background: #e9dcc4;

    padding: 12px;

    border: 1px solid #b59a70;

    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, .15);

}


.poster-placeholder {

    width: 240px;
    height: 350px;

    overflow: hidden;

}



.poster-placeholder img {

    width: 100%;
    height: 100%;

    object-fit: cover;

}



.poster-frame span {

    display: block;

    margin-top: 12px;

    text-align: center;

    font-size: .65rem;

    letter-spacing: .2em;

    color: #806f55;

}



/* INFO */


.featured-info {

    flex: 1;

}


.featured-info h2 {

    margin: 0 0 20px;

    font-size: 2.2rem;

    font-weight: 400;

}



.movie-meta {

    display: flex;

    gap: 25px;

    margin-bottom: 25px;

}



.featured-info p {

    max-width: 620px;

    line-height: 1.8;

}




.archive-data {

    margin-top: 30px;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 12px;

}



.archive-data div {

    padding: 14px;

    background: #eee2cd;

    border: 1px solid #c7b99f;

}



.archive-data span {

    display: block;

    font-size: .6rem;

    letter-spacing: .25em;

    color: #806f55;

    margin-bottom: 8px;

}



.archive-data strong {

    font-weight: normal;

    font-size: .85rem;

}





.archive-line {

    margin-top: 25px;

    padding-top: 12px;

    border-top: 1px solid #c7b99f;

    display: flex;

    justify-content: space-between;

    font-size: .65rem;

    letter-spacing: .2em;

}





.featured-buttons {

    display: flex;

    gap: 12px;

    margin-top: 30px;

}



.featured-buttons button {

    padding: 10px 22px;

    background:

        linear-gradient(#fff8eb, #e5d6bc);


    border: 1px solid #a99268;

    cursor: pointer;

    font-family: inherit;

}



.featured-buttons button:hover {

    background: #fff;

}